body {
    font-family: sans-serif;
    font-size: 1.5rem;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

button[type="submit"] {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}

body{
    background:rgb(0, 45, 60);
  }
  #rock1{
    position:absolute;
    left:-30px;
    top:0px;
    width:40px;
    height:40px;
    transform:rotate(45deg);
    animation:b 6s infinite;
  }
  #rock2{
    position:absolute;
    left:200px;
    top:-25px;
    width:40px;
    height:40px;
    transform:rotate(45deg);
    animation:a 6s infinite;
  }
  #rock3{
    position:absolute;
    left:585px;
    top:5px;
    width:40px;
    height:40px;
    transform:rotate(45deg);
    animation:a 6s infinite;
  }
  #rock4{
    position:absolute;
    left:385px;
    top:90px;
    width:40px;
    height:40px;
    transform:rotate(45deg);
    animation:b 6s infinite;
  }
  #rock5{
    position:absolute;
    left:60px;
    top:140px;
    width:25px;
    height:25px;
    transform:rotate(45deg);
    animation:a 6s infinite;
  }
  #rock6{
    position:absolute;
    left:500px;
    top:-25px;
    width:25px;
    height:25px;
    transform:rotate(45deg);
    animation:a 6s infinite;
  }
  #rock7{
    position:absolute;
    left:60px;
    top:-55px;
    width:25px;
    height:25px;
    transform:rotate(45deg);
    animation:b 6s infinite;
  }
  #rock8{
    position:absolute;
    left:530px;
    top:130px;
    width:25px;
    height:25px;
    transform:rotate(45deg);
    animation:b 6s infinite;
  }
  @keyframes a{
    0%{
      background:transparent;
    }
    50%{
      background:darkorange;
    }
    100%{
      background:transparent;
    }
  }
  @keyframes b{
    0%{
      background:darkorange;
    }
    50%{
      background:transparent;
    }
    100%{
      background:darkorange;
    }
  }
  #div1{
    position:absolute;
    left:calc(50% - 300px);
    top:calc(50% - 150px);
    width:600px;
    height:100px;
    border:20px solid rgb(60, 60, 60);
    border-radius:100px;
  }
  #diva1{
    position:absolute;
    width:590px;
    height:90px;
    border:5px solid orange;
    border-radius:100px;
    background:orange;
    transition:.6s;
  }
  #img1{
    position:absolute;
    left:15px;
    top:15px;
    width:60px;
  }
  #img2{
    position:absolute;
    left:10px;
    top:10px;
    width:60px;
  }
  #img3{
    position:absolute;
    left:10px;
    top:10px;
    width:60px;
  }
